<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Core;User ID=coreuser;Password=EwsS8UPa0jvj0dqdh4gI" />
  <add name="security" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Core;User ID=securityuser;Password=uJlZ8a5i5yi9PyAPcWCR" />
  <add name="master" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Master;User ID=masteruser;Password=yK3NJerPiDW9ucwswVWN" />
  <add name="web" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Web;User ID=webuser;Password=0dmwmlYA1Obt8RPLr5rm" />
  <add name="messaging" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Messaging;User ID=messaginguser;Password=xbKpvLabTetiulwDwA0J" />
  <add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Processing.Pools;User ID=poolsuser;Password=IxWcVogGhHI12bjwE95N" />
  <add name="xdb.referencedata" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_ReferenceData;User ID=referencedatauser;Password=28WC4ZUnhzPJOAjyevLA" />
  <add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Processing.Tasks;User ID=tasksuser;Password=lAeScjUaa3wMJfVB2Ddv" />
  <add name="experienceforms" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_ExperienceForms;User ID=formsuser;Password=r4URIzza9bz6xlqmKVfs" />
  <add name="exm.master" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_EXM.Master;User ID=exmmasteruser;Password=ZSKZwitQQ5wv1EyC9rON" />
  <add name="reporting" connectionString="Data Source=DESKTOP-R5453Q1;Initial Catalog=storefront100_Reporting;User ID=reportinguser;Password=rwhBlIlciIdBh4IUEikm" />
  <add name="sitecore.reporting.client" connectionString="https://storefront100.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=44080E44303FDE368D5D844D973B626EC40A566E" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="tVC1rOKOx1rGjqJaKdMVlPNgb6aI6Oeb9jXST4E99JAJ8zs2h3P5BiO38UgsxmD7gmDQnquxt4SZZfVhGLophmETWwog4Hpz61N7" />
  <add name="xconnect.collection" connectionString="https://storefront100.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=44080E44303FDE368D5D844D973B626EC40A566E" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://storefront100.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=44080E44303FDE368D5D844D973B626EC40A566E" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://storefront100.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=44080E44303FDE368D5D844D973B626EC40A566E" />
  <add name="xdb.referencedata.client" connectionString="https://storefront100.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=44080E44303FDE368D5D844D973B626EC40A566E" />
  <add name="EXM.CryptographicKey" connectionString="0x2385115902115479309016508588391664864009632498410164625030674307" />
  <add name="EXM.AuthenticationKey" connectionString="0x6127242698316154676675385834030947009442678719174063949749858964" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>